.field--name-rateplandetails {
  padding: 25px 25px 5px;
  background-color: #f9f9f9;
  margin-bottom: 25px;
}

.field--name-rateplandetails .rate-plan-detail__title {
  margin-bottom: 25px;
}

.field--name-rateplandetails .field {
  padding-bottom: 20px;
}

.field--name-rateplandetails .field--inline .field__label:after {
  margin: 0 0.25rem 0 0;
}

.field--name-rateplandetails .field--inline .field__label:after {
  content: ":";
}

.field--name-rateplandetails .field--inline > div {
  display: inline-block
}

.field--name-rateplandetails .rate-plan-detail__list-wrapper {
  background-color: #fff;
  padding: 25px 25px 0;
  margin-bottom: 25px;
}

.field--name-rateplandetails .rate-plan-rates__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
}

.field--name-rateplandetails .rate-plan-rates__row .rate-plan-rates__column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
