## Ignore all hidden files except... ##
.*
!/.gitignore
!/.gitattributes
!/.editorconfig
!.gitkeep
!/.circleci

## Ignore working copies of dist files ##
phpcs.xml

## Other ignored paths and files ##
/vendor
composer.lock
tests/src/Behat/behat.local.yml
