{#
/**
 * @file
 * Template for displaying monetization packages.
 *
 * Available variables:
 * - package: An package from the monetization SDK. @see: \Apigee\Edge\Api\Monetization\Entity\ApiPackage
 *   - description:     Description of API package.
 *   - displayName:     User-friendly display name of the API package.
 *   - id:              ID of the API product.
 *   - name:            Name of the API product.
 *   - organization:    The organizaiton the product belongs to.
 *   - apiProducts:     A list of included product entities.
 *   - status:          Status indicator for the API product. Valid values include: CREATED, ACTIVE, INACTIVE.
 *
 * @see \Drupal\apigee_m10n\Entity\Package
 * @see template_preprocess_package()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('apigee-package') }}>
    {{ elements }}
</div>
{{ attach_library('apigee_m10n/package') }}
