{#
/**
 * Template for displaying a package list.
 *
 * Available variables:
 * - package_list: A list of packages retrieved from the apigee sdk.
 *
 * @see Drupal\apigee_m10n\Controller\PackageController
 */
#}
<ul class="apigee-package-list">
    {% for package in package_list %}
        <li class="apigee-sdk-package">
            {{ package }}
        </li>
    {% endfor %}
</ul>
