{#
/**
 * Template for displaying a product list.
 *
 * Available variables:
 * - product_list: A list of products retrieved from the apigee sdk.
 */
#}
<ul class="apigee-product-list">
    {% for api_product in product_list %}
        <li class="apigee-sdk-product">
            {{ api_product }}
        </li>
    {% endfor %}
</ul>
