{#
/**
 * @file
 * Default theme implementation to display Consumption fee in detail.
 *
 * Variables:
 * - currencyCode:                  The three-letter currency code defined in ISO 4217.
 * - nanos:                         Number of nano (10^-9) units of the amount.
 * - units:                         The whole units of the amount.
 * - multipleConsumptionText:       Consumption text.
 */
#}

{% if multipleConsumptionText %}
  <tr>
    <td>
      {{ multipleConsumptionText }}
    </td>
    <td>
      {{ fee_currency_code }} {{ fee_units + fee_nanos }}
    </td>
  </tr>
{% else %}
  {{ singleConsumptionText }}
{% endif %}
